<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="container-card">
    <h2>Static file check</h2>
    <br>
    <img src="../images/check.jpeg">   
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint ea libero minima,
    reiciendis enim ab atque eveniet quod temporibus similique laboriosam adipisci voluptatem quae, 
    accusantium eius obcaecati, mollitia nulla sequi.</p>
    </div>

</body>
</html>